@charset "utf-8";

@import "normalize";
@import "font-awesome";
@import "bootstrap";

.ingredient {
  cursor: pointer;
  user-select: none;
  padding: 4px 0;
  -webkit-user-select: none;
  border-bottom: 1px solid #cacaca;

  &:hover {
    background-color: #bcbcbc;
  }

  &:active {
    background-color: #9fb7d1;
  }

  &.selected {
    background-color: #89b3ff;
  }
}