%script#loading-view{type: 'text/html'}
  %h1.text-center
    %i.fa.fa-spinner.fa-spin
    Loading...

%script#ingredient-view{type: 'text/html'}
  %span <%= name %>

%script#shake-form-view{type: 'text/html'}
  .form-inline
    .form-group
      %input.form-control.name{:type => 'text', :placeholder => 'Shake name'}
      %button.submit-btn.form-control.btn-success= 'Create'
    %hr
    .ingredient-list