%script#loading-view{type: 'text/html'}
  %h1.text-center
    %i.fa.fa-spinner.fa-spin
    Loading...

%script#ingredient-view{type: 'text/html'}
  %span <%= name %>

%script#shake-form-view{type: 'text/html'}
  %form
    .row
      .col-sm-2= 'New shake'
    %hr
    .ingredient-list